<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Echotable</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img src="https://lh3.googleusercontent.com/9DUtwU0QFy3La_hGZLsdFvoHbUcXIqYb6670U3S0IUoBRE0K2P5qcV8a4t-7m34VKmI9ZIopr3GPd74ZsMg_ioYVKnjnOcKAazocZDMPcSe5PL1TG0aqmkhOPbp2s9GbpvU21Siumv3it41WJKO5OWHqgq6NucMf6rkQgxQfzX0bGATHeJWcZ00-naQyIqcbn0ZB4Tjw07XbUQp0LA13MnwOJba-O69F7i10R0XtDw4SPqs02aJ-DZ8X8SEuZZGs6AmbR5r6GnXc2KSe3ZrDQHU79ltt928oWsc477XqJwqXyTFtakNUHoBd1CQY7S-S_Gef3-JUXAH_cWu1PWqlDbYSYt3cn6z1dN1KdyVXg4--cjYIKtuByNxN-BIbaFpmUsYM3SEbd1dJ7i2mQOTNxeiHDI05DYh0JBaj0xHQA0mqichw7P7bLq7Kx8dnH7UNk5y1f8pvOipOEmQWLoaNT2DeUcjxAqtaf78IlkjJLah5BB8_Luz9d8qA5Y8o4k03kfTTZ7DQpWURWEViGqkPgyvh4u0jPOErmORZveD6FP57JhAD-gkZ6X-xgzvOCmwff6lRC6555g62QZE2tOH0ncQLrkmBVlRwO0BaJqKLrCpuOHVt3kXbXsuh_JXvRUL2-T5hjemhACbw23HfIkt7cT2ivqHE0RkqdD0vfW5M_vChacjGZwnAqeiriMGKqEM=w661-h653-no?authuser=0" class="navbar-brand" style="width:100px;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Echotable</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Echotable
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
