<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Echotable</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img src="https://lh3.googleusercontent.com/ja6FIWi22B6Qsp3HB-6BuwDSyrACoT-zFMQPbSJwhZb_wpWmOXb2BL_etTVggtA82x_wNFjlWPkfAm4dzUKChGQ4RIPxTAjzSs1tlnPo3XADu3MQicmyv8pWqrj5ij2tEUaEBTqRS9mwF7QMy8g9vj5WYg95ioN0yiq4QxdK3A37iQTT8MZHtPj-WPs9V-pcc4mj0ulNEKsDbQyF-fnU0jJ5Xp7pjlC7YSx14pkH-w8DKJVSXAR0JE--TJBpHn3IbBSBKqnY8GFungeB3kXC7wvN6WI9tMJ0W8zuThsJTcZTGbpaOimA4fJfhqaHud_c42XuuKNTm-agy_fnDPzJkHi9Xtce0lZX82Zmt61Di5lNUzQlndGXq-cikgRqomeIMjNRlBx9aIrJnXijLNRvuLWag1HOqaTw5RY9hVW8yi58LSqwZAUv27xGsbyxP_4e_FpWPcmpLVo-F9FjxKu0wBhQbVkxl575PiMn_uLpx_b9Y0hFVxJoGVjr_ZgOAVE79TnEb-u-lEPOxosRTHorXEq4q_1al9V8__NPdKmIlgVC55J6J5pBjYWAfQgOFBMrKxGRJY9jLeqmV5gD61MBy3nm0vn2g-kZi3eE2hnk_RB1kaY7juCMBdNKLrC8f_-J89WhBuO6ZpcjNBCm_yoAHMChT1qjjXi2yqnXzIxOf9WLIUOwUK27GaxvS86RBg=w727-h677-no?authuser=0" class="navbar-brand" style="width:100px;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Echotable</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Information" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Echotable
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
